<%= if @error != "" do %>
<div style="color: red">
<%= @error %>
</div>
<% end %>
Zmiana hasła<br/>
Obecne hasło: <form method="get">
<%= for x <- 0..16 do %>
    <input type="password" style="width: 20px" maxlength="1" name="last_password[<%= x %>]"
    <%= if x not in @subsequence do %> disabled="true" <% end %> />
<% end %><br/>
Nowe hasło: <input type="password" name="password"/>
<input type="submit" value="Zmień hasło"/>
</form>