Zaloguj: <br/>
Username: <%= @username %><br/>
Hasło: <br/>
<%= if @error != "" do %>
<div style="color: red">
<%= @error %>
</div>
<% end %>
<form method="get">
<input type="hidden" value="<%= @username %>" name="username"/>
<%= for x <- 0..16 do %>
    <input type="password" style="width: 20px" maxlength="1" name="password[<%= x %>]"
    <%= if x not in @subsequence do %> disabled="true" <% end %> />
<% end %>
<input type="submit" value="zaloguj" />
</form>
